<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AcceptingOrders</title>

    @*Bootstrap Css*@
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />

    @*Bootstrap Icons*@
    <link rel="stylesheet" href="~/icons/bootstrap/bootstrap-icons.css" />

    @*Site*@
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/AcceptingOrders.styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="OrderModels" asp-action="Index">AcceptingOrders</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="OrderModels" asp-action="Index">Заказы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="OrderModels" asp-action="Create">Новый заказ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*Jquery*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @*Bootstrap*@
    <script src="~/js/bootstrap/bootstrap.min.js"></script>

    @*Site*@
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
